body {
    background-color: rgb(216, 216, 228);
    height: auto; /* change to 50px
    and it returns with 50px height, 
    why? why does it do this? */
    width: auto;
}

div {
    height: auto;
    width: 250px;
}

div.flag1 {
    padding: 0px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 75px;
    opacity: 0.3;
}

div#ger:hover {
    opacity: 1;
}

div#ger {
    display: grid;
    height: 150px;
}

div.flag2 {
    padding: 0px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 150px;
    opacity: 0.3;
}

div#fr:hover {
    opacity: 1;
}

div#fr {
    display: flex;
    height: 150px;
}


 /*:hover {
    background-color: aqua;
}

 :hover {

}